<div class="container">
  <h1 class="text-center">EZ's Blog</h1>
  <ul class="blogs">
    <% @blogs.each do |blog| %>
    <li class="title"><%= blog.title %></li>
    <li class="date"><%= blog.date %></li>
    <li class="content"><%= blog.content %></li>
    <% end %>
  </ul>
</div>
