$color1: #57002b; //rgba(87, 0, 43, 100)
$color2: #e0e5e2; //rgba(224, 229, 226, 100)
$color3: #c5c096; //rgba(197, 192, 150, 100)
$color4: #896636; //rgba(137, 102, 54, 100)
$color5: #517182; //rgba(81, 113, 130, 100)


.navbar-inverse {
  background-color: $color1;

  button {
    background-color: $color2;
  }
}
.navbar-brand {
  a {
  color: $color3;
  }
}