<div class="container">
  <div class="row col-md-offset-2 col-md-8">
    <h1 class="about-heading"><%= @about.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <div class="about-entry">
      <h3 class="about-body"><%= @about.body %></h3>
    </div>
    </div>
  </div>
</div>
