// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color1: #57002b; //rgba(87, 0, 43, 100)
$color2: #e0e5e2; //rgba(224, 229, 226, 100)
$color3: #c5c096; //rgba(197, 192, 150, 100)
$color4: #896636; //rgba(137, 102, 54, 100)
$color5: #517182; //rgba(81, 113, 130, 100)

.dropdown {
  padding: 10px;
  float: right;
  width: 200px;

  .dropdown-toggle {
    color: $color5;
    font-family: "Bangers";
  }
}

.each-blog {
  border-top: 1px solid black;
  padding-bottom: 5px;

  .blog-date {
    color: $color4;
    float: right;
    padding-top: 5px;
  }

  h2 {
    a {
    font-size: 2em;
    color: $color4;
    }
  }

  p {
    font-size: 1.5em;
    padding-top: 5px;
  }

  button {
    background-color: $color2;
    padding: 10px;
    a {
      color: $color4;
    }
  }

  .blog-heading {
    text-align: center;
    font-family: "Helvetica";
    color: $color3;
  }

  .blog-entry {
    h3 {
      font-weight: lighter;
    }
    //
    // img {
    //   height: 800px;
    // }
  }



}