/* Coolors Exported Palette - coolors.co/27aad8-d3c82b-7cb826-ac1b26-16363d */

$color1: #27aad8; //rgba(39, 170, 216, 100)
$color2: #d3c82b; //rgba(211, 200, 43, 100)
$color3: #4c8e2d; //rgba(124, 184, 38, 100)
$color4: #ac1b26; //rgba(172, 27, 38, 100)
$color5: #16363d; //rgba(22, 54, 61, 100)

.dropdown {
  padding: 10px;
  float: right;
  width: 200px;

  .dropdown-toggle {
    color: $color5;
    background-color: $color1;
    font-family: "Bangers";
  }
}

.each-blog {
  border-top: 1px solid black;
  padding-bottom: 5px;

  .blog-date {
    color: $color4;
    float: right;
    padding-top: 5px;

    h3 {
      color: $color4;
    }
  }

  h2 {
    a {
    font-size: 2em;
    color: $color4;
    }
  }

  p {
    font-size: 1.5em;
    padding-top: 5px;
    color: $color5;
  }

  button {
    background-color: $color1;
    padding: 10px;
    a {
      color: $color5;
    }
  }

  .blog-heading {
    text-align: center;
    font-family: "Helvetica";
    color: $color3;
  }

  .blog-entry {
    h3 {
      font-weight: lighter;
    }
    //
    // img {
    //   height: 800px;
    // }
  }



}