// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
  padding: 10px;
}

.each-blog {
  border-top: 1px solid black;
  padding-bottom: 5px;
}