// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
   height: 100%;
}

body {
   padding-top: 50px;
   background-color: gray;
}

.img-portfolio {
   margin-bottom: 30px;
}

.img-hover:hover {
   opacity: 0.8;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

header.carousel h1 {
 font-size: 100px;
 padding-bottom: 30px;
 font-weight: lighter;
}

#welcome-boxes {
  padding-top: 50px;

  img {
    height: 240px;
    width: 360px;

  }

  .btn {
    font-weight: lighter;
    font-size: 2em;
    color: black;
  }
}