<nav class="navbar navbar-inverse navbar-fixed-top header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EZ Eats!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
          <li><%= link_to "Blog", blogs_path %></li>
          <li><%= link_to "Reviews", reviews_path %></li>
          <li><%= link_to "Food Challenges", challenges_path %></li>
          <li><%= link_to "About" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/login'>Log In</a></li>
        <li><a href='/register'>Create Account</a></li>
        <li><form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>